[Unit]
Description=radiogagad
After=mpd.service

[Service]
#Environment="RGGD_STARTUP_PLAYLISTS="
ExecStart=/usr/local/bin/radiogagad

[Install]
WantedBy=multi-user.target